@import "../../_settings";
.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .content {
        flex: 1;
        max-width: $global-W;
        max-height: calc(100% - 100px);
        margin: 0 auto;
        border-radius: 50px;
        background-color: #fff;
        padding: 51px 80px 60px;
        height: calc(100% - 100px);
    }
    .cont {
        height: calc(100% - 120px);
        overflow: auto;        
    }
    .desc{
        font-size: 16px;
        color: #999;
        margin-left: 20px;
    }
    .md-header-anchor {}
    p {
        text-indent: 2em;
        font-size: 16px;
        margin-bottom: 0.5em
    }
}