@import "./_settings";
html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-width: $global-W;
    background-color: $global-color-bg;
    overflow-y: hidden;
}

li,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
    min-height: 580px;
}