@import "../../_settings";
.clkArea {
    position: absolute;
    background-color: $global-color-bg-drag;
    overflow: hidden;
    .content {
        height: 100%;
        &.ac {
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                background-color: $global-active-color-bg;
            }
        }
    }
    .right-up-btn {
        padding: 2px;
        top: 0;
        right: 0;
        font-size: 18px;
        width: 22px;
        height: 22px;
        line-height: 18px;
    }
    .dragable {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 16px solid #ff3;
        border-left: 16px solid transparent;
        z-index: 1;
        cursor: se-resize;
    }
}