@import "../../_settings";
.iconUpload {
    cursor: pointer;
    display: table;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    vertical-align: top;
    background-color: $global-color-primary;
    -webkit-box-shadow: 0 0 15px $global-color-shadow;
    box-shadow: 0 0 15px $global-color-shadow;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #fff;
        background-color: darken($global-color-primary, 15%);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .content {
        text-align: center;
        font-size: 14px;
        line-height: 1;
    }
    .input {
        width: 100%;
        height: 100%;
        cursor: pointer;
        outline: medium none;
        position: absolute;
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        opacity: 0;
        left: 0px;
        top: 0px;
    }
}