.func {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &.show {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}