.header {
    display: inline-block;
    width: 68%;
    font-size: 18px;
    padding: 0 15px;
    margin-top: -4px;
    color: #fff;
    text-align: left;
    vertical-align: middle;
    .logo {
        float: left;
        width: 120px;
        height: 30px;
        background: rgba(255, 255, 255, .2);
        margin: 10px 15px;
    }
}